
{% extends "base.html" %}

{% block main %}

<h1> Profile Information </h1>
<form class="profileform" method="POST" action="{{url_for('profile')}}">
    
    <div class = 'formfields'>
        {{ form.csrf_token }}
        {{ form.fname.label }} 
        {{ form.fname(size=30)}}
    </div>
    <div class='formfields'>
        {{ form.csrf_token }}
        {{ form.lname.label }} 
        {{ form.lname.validator()}}
    </div>
    <div class='formfields'>
        {{ form.csrf_token }}
        {{ form.subject.label }} 
        {{ form.subject(size=100)}}
    </div>
    <div>
        {{ form.csrf_token }}
        {{ form.textarea.label }} 
    </div>
    <input type="submit" value="Go">
</form>

<div class="form-group">
        {{ form.firstname.label }} {{ form.firstname(class="form-control") }}
        {% for message in form.firstname.errors %} <small>{{ message }}</small>{% endfor %}
    </div>